node_modules

.next
.DS_Store
package-lock.json
yarn-error.log
yarn.lock
coverage
dist
.vscode
.idea
*.iml   
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.sublime-settings
*.sublime-menu
*.sublime-keymap
*.sublime-theme

